<nav class="navbar navbar-light bg-light">
  <form class="form-inline">

    {% if request.user.is_authenticated %}
      <div class="p-2">
        <a href="{% url 'logout' %}" class="btn btn-secondary btn-lg active" role="button" aria-pressed="true">Đăng xuất</a>
      </div>
      <div class="p-2" style="color:#380e16">
        Chào <strong>{{request.user.username}}</strong>
      </div>

    {% else %}
      <a href="{% url 'login' %}" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">Đăng nhập</a>
    {% endif %}
  </form>
</nav>